@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  * {
    @apply border-gray-800;
  }
  
  body {
    @apply bg-gray-950 text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Clerk theme overrides */
.cl-internal-1d5fpn1 {
  @apply bg-gray-900;
}

.cl-internal-1tp4d7u {
  @apply text-white;
}
